.data{
    color:white;
    /* padding: 1px 73px; */
    font-size: 14px;
    padding: 4px;
    
}
.thead{
    background-color: grey;
}
.up{
    padding-top: 5px;
    /* margin-left: 60px; */
}
.down{
    padding-bottom: 5px;
}
td{
    padding: 1rem;
}