.fmc-Highlight{
    &__Container{
        display: flex;
        box-shadow: 3px 3px 10px 0 black;
        img{
            margin-top: 0;
        }
    }
    &__image{
        max-height: 285px;
        width: 100%;
        border-radius: 3px 0 0 3px;
        // overflow: hidden;
        margin-right: 20px;
    }
}
.fmc-primary{
    margin-right: 20px;
    &__description-text{
        line-height: 24px !important;
    }
}
