.about{
    color: aliceblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 70%;
    float: right;
    text-align: center;
    margin: 17% 60px;
}
.display-none{
    display: none;
}