.profile{
    color: aliceblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 70%;
    margin: 60px;
    position: absolute;
    left: 20%;
}
.display-none{
    display: none;
}
.profile li{
    padding: 5px;
    margin: auto;
}
.details{
    position: absolute;
}